 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/header2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-1 .u-image-1 {
  object-position: 94.95% 50%;
  height: 991px;
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 2.25rem;
  margin: -981px 0 0;
}

.u-section-1 .u-group-elements-1 {
  min-height: 88px;
  width: 400px;
  margin: 598px auto 0 370px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 8px auto 0 124px;
}

.u-section-1 .u-btn-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 61px auto 0 303px;
  padding: 0 12px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -991px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-1 .u-group-elements-1 {
    height: auto;
    margin-top: 578px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 54px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 72px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 573px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    width: 640px;
    margin-top: 59px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1003px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 504px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
    margin-top: 59px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 0.31% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-image-1 {
    object-position: 100% 50%;
    height: 550px;
    width: 422px;
    margin-top: 115px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -638px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 313px;
    min-height: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 4px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 27px;
    margin-right: -4px;
  }
} .u-section-2 {
  min-height: 616px;
}

.u-section-2 .u-image-1 {
  object-position: 49.44% 59.14%;
  height: 467px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  height: 174px;
  object-position: 50% 13.01%;
  margin-top: -25px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -589px calc(((100% - 1140px) / 2)) 0;
}

.u-section-2 .u-group-elements-1 {
  width: 1140px;
  min-height: 235px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.2;
  text-shadow: 0px 7px 40px rgba(0,0,0,1);
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-3 {
  text-shadow: 0px 7px 40px rgba(0,0,0,1);
  line-height: 1.2;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 53px 0 0;
}

.u-section-2 .u-group-elements-2 {
  width: 1100px;
  min-height: 68px;
  margin: 116px auto 60px;
}

.u-section-2 .u-text-4 {
  text-shadow: 0px 7px 40px rgba(0,0,0,1);
  line-height: 1.2;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  margin: 8px auto 0 441px;
  padding: 0 12px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1025px;
  }

  .u-section-2 .u-image-1 {
    object-position: 50% 10.89%;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -590px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    width: 940px;
    height: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 940px;
    min-height: 66px;
    height: auto;
    margin-top: 89px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 6px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 905px;
  }

  .u-section-2 .u-image-1 {
    object-position: 50.6% 10.89%;
    height: 704px;
    margin-top: 1px;
  }

  .u-section-2 .u-image-2 {
    object-position: 50% 14.86%;
    margin-top: 26px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -878px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 720px;
    margin-top: 138px;
    margin-bottom: 230px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 946px;
  }

  .u-section-2 .u-image-1 {
    height: 761px;
    margin-top: 47px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -31px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 540px;
    min-height: 94px;
    margin-top: 124px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1030px;
  }

  .u-section-2 .u-image-1 {
    object-position: 49.44% 59.14%;
    height: 860px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -51px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -957px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 340px;
    margin-top: 106px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 966px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-3 .u-list-1 {
  width: 755px;
  margin: 88px auto 60px;
}

.u-section-3 .u-repeater-1 {
  min-height: 599px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-video-1 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 3px 0 0;
}

.u-section-3 .u-video-2 {
  height: 198px;
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 3px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-video-3 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .embed-responsive-3 {
  position: absolute;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 3px 0 0;
}

.u-section-3 .u-video-4 {
  height: 198px;
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-3 .embed-responsive-4 {
  position: absolute;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 3px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 732px;
    margin-top: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2348px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1140px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-video-1 {
    height: 398px;
  }

  .u-section-3 .u-video-2 {
    height: 396px;
  }

  .u-section-3 .u-video-3 {
    height: 398px;
  }

  .u-section-3 .u-video-4 {
    height: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1995px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1685px;
  }

  .u-section-3 .u-video-1 {
    height: 298px;
  }

  .u-section-3 .u-video-2 {
    height: 296px;
  }

  .u-section-3 .u-video-3 {
    height: 298px;
  }

  .u-section-3 .u-video-4 {
    height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1481px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1205px;
  }

  .u-section-3 .u-video-1 {
    height: 181px;
  }

  .u-section-3 .u-video-2 {
    height: 185px;
  }

  .u-section-3 .u-video-3 {
    height: 181px;
  }

  .u-section-3 .u-video-4 {
    height: 185px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 446px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  line-height: 1.2;
  margin: 43px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 695px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.4;
  }
} .u-section-5 {
  background-image: linear-gradient(#1a1a1a, black);
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 69px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  width: 844px;
  margin: 61px auto 60px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: 31px 0 17px;
  }
} .u-section-6 {
  background-image: linear-gradient(black, #1a1a1a);
}

.u-section-6 .u-sheet-1 {
  min-height: 1311px;
}

.u-section-6 .u-list-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 1019px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 494px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 190px;
  height: 190px;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 42px 30px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 494px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  width: 190px;
  height: 190px;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 42px 30px 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-group-3 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 494px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  width: 190px;
  height: 190px;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 42px 30px 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px;
}

.u-section-6 .u-group-4 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 494px;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  width: 190px;
  height: 190px;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.125rem;
  margin: 42px 30px 0;
}

.u-section-6 .u-text-9 {
  font-weight: 300;
  margin: 31px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 52px auto 60px;
  padding: 0 51px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 840px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2360px;
  }

  .u-section-6 .u-list-1 {
    width: 438px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2086px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    margin-top: 50px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 31px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 43px;
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2323px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 33px;
    width: 340px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 30px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 1rem;
    margin-top: 42px;
    margin-bottom: 51px;
    padding-right: 21px;
    padding-left: 19px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 709px;
}

.u-section-7 .u-image-1 {
  width: 473px;
  height: 408px;
  margin: 0 97px 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: 500;
  line-height: 1.6;
  font-size: 1.125rem;
  margin: -217px 587px 0 80px;
}

.u-section-7 .u-image-2 {
  width: 597px;
  object-position: 50% 19.51%;
  left: auto;
  right: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -569px 762px 60px 80px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-7 .u-image-1 {
    width: 497px;
    height: 429px;
    margin-top: 33px;
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -291px;
    margin-right: 467px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    width: 470px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -516px;
    margin-right: 522px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 452px;
    margin-right: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: -693px;
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-7 .u-image-2 {
    width: 583px;
    height: 513px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 27px auto 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: -926px;
    margin-right: 249px;
    margin-left: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 621px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -837px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    width: 597px;
    height: 543px;
    margin-top: 143px;
    margin-right: -57px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -1197px;
    margin-right: 242px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-7 .u-image-1 {
    height: 293px;
    margin-top: 678px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: -844px;
  }

  .u-section-7 .u-image-2 {
    object-position: 50% 100%;
    height: 481px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -1123px;
    margin-right: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 873px;
}

.u-section-8 .u-image-1 {
  width: 506px;
  height: 433px;
  margin: 59px 27px 0 auto;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -436px 548px 0 81px;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: normal;
  margin: 27px 548px 0 81px;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0 81px;
  padding: 9px 77px 11px 76px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 170px;
    margin-right: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: -547px;
    margin-right: 430px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 430px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 56px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    margin-top: 716px;
    margin-right: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -1093px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 588px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 559px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 291px;
    margin-top: 851px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -1085px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 411px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 24px;
    padding-right: 24px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 815px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 78px auto 0;
}

.u-section-9 .u-group-elements-1 {
  width: 275px;
  min-height: 178px;
  margin: 47px auto 0 37px;
}

.u-section-9 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 106px;
}

.u-section-9 .u-group-elements-2 {
  min-height: 91px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 48px;
}

.u-section-9 .u-text-3 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-9 .u-group-elements-3 {
  width: 399px;
  min-height: 209px;
  margin: -204px auto 0;
}

.u-section-9 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 168px;
}

.u-section-9 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 1px auto 0 31px;
}

.u-section-9 .u-text-5 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 0;
}

.u-section-9 .u-group-elements-4 {
  width: 286px;
  min-height: 209px;
  margin: -209px 0 0 auto;
}

.u-section-9 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 114px 0 108px;
}

.u-section-9 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-9 .u-text-7 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 0;
}

.u-section-9 .u-countdown-1 {
  margin: 73px auto 0;
}

.u-section-9 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-9 .u-countdown-counter-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-label-1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-9 .u-countdown-separator-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-9 .u-countdown-counter-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-label-2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-9 .u-countdown-separator-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-9 .u-countdown-counter-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-label-3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-9 .u-countdown-separator-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-9 .u-countdown-counter-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-label-4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-9 .u-countdown-separator-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-9 .u-countdown-counter-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-label-5 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-9 .u-countdown-separator-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-9 .u-countdown-counter-6 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-9 .u-countdown-label-6 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-9 .u-btn-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 66px auto 60px;
  padding: 9px 65px 11px 64px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-elements-1 {
    min-height: 205px;
    height: auto;
    margin-top: 45px;
    margin-left: 0;
  }

  .u-section-9 .u-group-elements-2 {
    height: auto;
  }

  .u-section-9 .u-group-elements-3 {
    height: auto;
    margin-top: -202px;
  }

  .u-section-9 .u-group-elements-4 {
    min-height: 161px;
    height: auto;
  }

  .u-section-9 .u-countdown-1 {
    margin-top: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-9 .u-group-elements-1 {
    min-height: 209px;
    margin-top: 54px;
  }

  .u-section-9 .u-group-elements-2 {
    min-height: 135px;
    margin-top: 10px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: -4px;
  }

  .u-section-9 .u-group-elements-3 {
    min-height: 257px;
    margin-top: -209px;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    width: 239px;
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-9 .u-text-5 {
    margin-top: -2px;
  }

  .u-section-9 .u-group-elements-4 {
    margin-top: 75px;
    margin-right: auto;
  }

  .u-section-9 .u-countdown-1 {
    margin-top: 48px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-group-elements-1 {
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-9 .u-group-elements-3 {
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-9 .u-group-elements-4 {
    margin-top: 50px;
  }

  .u-section-9 .u-countdown-1 {
    margin-top: 70px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-9 .u-group-elements-1 {
    margin-top: 43px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-group-elements-3 {
    min-height: 224px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: -1px;
  }

  .u-section-9 .u-countdown-1 {
    margin-left: -4px;
    margin-right: -4px;
    padding: 0;
  }

  .u-section-9 .u-countdown-counter-1 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-separator-1 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-counter-2 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-separator-2 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-counter-3 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-separator-3 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-counter-4 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-separator-4 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-counter-5 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-separator-5 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-countdown-counter-6 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1.25rem;
    padding-left: 12px;
    padding-right: 12px;
    margin: 43px 0 59px;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/pexels-kulbir-11408206.jpg");
  background-position: 50% 50%;
  min-height: 1128px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 83px auto 0;
}

.u-section-10 .u-group-elements-1 {
  width: 1116px;
  min-height: 543px;
  margin: 83px auto 0;
}

.u-section-10 .u-group-elements-2 {
  width: 257px;
  min-height: 542px;
  height: auto;
  margin: 0 286px 0 auto;
}

.u-section-10 .u-image-1 {
  height: 462px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 35px 309px 0 10px;
  padding: 10px 30px;
}

.u-section-10 .u-group-elements-3 {
  width: 257px;
  min-height: 542px;
  height: auto;
  margin: -541px 0 0 auto;
}

.u-section-10 .u-image-2 {
  height: 462px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 35px 32px 0 10px;
  padding: 10px 28px;
}

.u-section-10 .u-group-elements-4 {
  width: 257px;
  min-height: 541px;
  height: auto;
  margin: -542px auto 0 0;
}

.u-section-10 .u-image-3 {
  height: 462px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px 883px 0 10px;
  padding: 10px 44px;
}

.u-section-10 .u-group-elements-5 {
  width: 257px;
  min-height: 541px;
  height: auto;
  margin: -541px auto 0 287px;
}

.u-section-10 .u-image-4 {
  height: 462px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 34px auto 0 10px;
  padding: 10px 58px 10px 57px;
}

.u-section-10 .u-group-1 {
  min-height: 245px;
  margin-top: 95px;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-10 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.75);
  font-size: 2.25rem;
  margin: 83px 30px 0;
}

.u-section-10 .u-btn-5 {
  background-image: linear-gradient(to right, #3ea9f0, #1a1a1a);
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 1630px;
  }

  .u-section-10 .u-group-elements-1 {
    width: 940px;
  }

  .u-section-10 .u-group-elements-2 {
    margin-top: 570px;
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-10 .u-group-elements-3 {
    margin-top: -542px;
    margin-right: 161px;
  }

  .u-section-10 .u-group-elements-4 {
    margin-top: -1111px;
    margin-left: 183px;
  }

  .u-section-10 .u-group-elements-5 {
    margin-right: 167px;
    margin-left: auto;
  }

  .u-section-10 .u-group-1 {
    margin-top: 597px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 1848px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-10 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-10 .u-group-elements-2 {
    margin-top: 604px;
    margin-left: 77px;
  }

  .u-section-10 .u-group-elements-3 {
    margin-right: 61px;
  }

  .u-section-10 .u-group-elements-4 {
    margin-top: -1144px;
    margin-left: 77px;
  }

  .u-section-10 .u-group-elements-5 {
    margin-right: 65px;
  }

  .u-section-10 .u-group-1 {
    margin-top: 736px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1825px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-10 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-10 .u-group-elements-2 {
    margin-top: 571px;
    margin-left: 0;
  }

  .u-section-10 .u-group-elements-3 {
    margin-right: 0;
  }

  .u-section-10 .u-group-elements-4 {
    margin-top: -1113px;
    margin-left: 0;
  }

  .u-section-10 .u-group-elements-5 {
    margin-right: 0;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 2785px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 83px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-10 .u-group-elements-2 {
    margin-top: 1160px;
    margin-left: auto;
  }

  .u-section-10 .u-group-elements-3 {
    margin-top: 53px;
    margin-right: auto;
  }

  .u-section-10 .u-group-elements-4 {
    margin-top: -2306px;
    margin-left: auto;
  }

  .u-section-10 .u-group-elements-5 {
    margin-top: 33px;
    margin-right: auto;
    margin-bottom: -563px;
  }

  .u-section-10 .u-group-1 {
    margin-top: 1798px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-10 .u-btn-5 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 28px;
  }
} .u-section-11 {
  background-image: linear-gradient(to right, #333333, #1a1a1a);
  min-height: 930px;
}

.u-section-11 .u-list-1 {
  width: 670px;
  margin: 78px calc(((100% - 720px) / 2)) 0 auto;
}

.u-section-11 .u-repeater-1 {
  min-height: 688px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0 auto 0 10px;
}

.u-section-11 .u-text-2 {
  font-size: 1.25rem;
  margin: -103px 0 0 142px;
}

.u-section-11 .u-container-layout-2 {
  padding: 0;
}

.u-section-11 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0 auto 0 10px;
}

.u-section-11 .u-text-4 {
  font-size: 1.25rem;
  margin: -103px 0 0 142px;
}

.u-section-11 .u-container-layout-3 {
  padding: 0;
}

.u-section-11 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0 auto 0 10px;
}

.u-section-11 .u-text-6 {
  font-size: 1.25rem;
  margin: -103px 0 0 142px;
}

.u-section-11 .u-container-layout-4 {
  padding: 0;
}

.u-section-11 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0 auto 0 10px;
}

.u-section-11 .u-text-8 {
  font-size: 1.25rem;
  margin: -103px 0 0 142px;
}

.u-section-11 .u-container-layout-5 {
  padding: 0;
}

.u-section-11 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0 auto 0 10px;
}

.u-section-11 .u-text-10 {
  font-size: 1.25rem;
  margin: -103px 0 0 142px;
}

.u-section-11 .u-container-layout-6 {
  padding: 0;
}

.u-section-11 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0 auto 0 10px;
}

.u-section-11 .u-text-12 {
  font-size: 1.25rem;
  margin: -103px 0 0 142px;
}

.u-section-11 .u-btn-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 62px auto 45px;
  padding: 0 77px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-btn-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 937px;
  }

  .u-section-11 .u-btn-1 {
    font-size: 2.25rem;
    margin-top: 52px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 1391px;
  }

  .u-section-11 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-text-2 {
    margin-top: 20px;
    margin-left: 12px;
  }

  .u-section-11 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-text-4 {
    margin-top: 20px;
    margin-left: 12px;
  }

  .u-section-11 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-text-6 {
    margin-top: 20px;
    margin-left: 12px;
  }

  .u-section-11 .u-text-7 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-text-8 {
    margin-top: 20px;
    margin-left: 12px;
  }

  .u-section-11 .u-text-9 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-text-10 {
    margin-top: 20px;
    margin-left: 12px;
  }

  .u-section-11 .u-text-11 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-text-12 {
    margin-top: 20px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 1481px;
  }

  .u-section-11 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-11 .u-text-4 {
    margin-left: 0;
  }

  .u-section-11 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-11 .u-text-6 {
    margin-left: 0;
  }

  .u-section-11 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-11 .u-text-8 {
    margin-left: 0;
  }

  .u-section-11 .u-text-9 {
    font-size: 3rem;
  }

  .u-section-11 .u-text-10 {
    margin-left: 0;
  }

  .u-section-11 .u-text-11 {
    font-size: 3rem;
  }

  .u-section-11 .u-text-12 {
    margin-left: 0;
  }

  .u-section-11 .u-btn-1 {
    font-size: 1.25rem;
    padding-left: 25px;
    padding-right: 25px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 1932px;
}

.u-section-12 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 39px auto 0;
}

.u-section-12 .u-list-1 {
  margin-top: 79px;
  margin-bottom: 0;
}

.u-section-12 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 1582px;
}

.u-section-12 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-container-layout-1 {
  padding: 10px;
}

.u-section-12 .u-image-1 {
  width: 212px;
  height: 311px;
  object-position: 32.07% 50%;
  margin: 16px auto 0 0;
}

.u-section-12 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -311px 16px 0 228px;
}

.u-section-12 .u-text-3 {
  font-size: 1.25rem;
  margin: 16px 16px 0 228px;
}

.u-section-12 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 6px auto 0 224px;
}

.u-section-12 .u-icon-1 {
  height: 100%;
}

.u-section-12 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-container-layout-2 {
  padding: 10px;
}

.u-section-12 .u-image-2 {
  width: 212px;
  height: 311px;
  margin: 16px auto 0 0;
}

.u-section-12 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -311px 16px 0 228px;
}

.u-section-12 .u-text-5 {
  font-size: 1.25rem;
  margin: 16px 16px 0 228px;
}

.u-section-12 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 6px auto 0 224px;
}

.u-section-12 .u-icon-2 {
  height: 100%;
}

.u-section-12 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-container-layout-3 {
  padding: 10px;
}

.u-section-12 .u-image-3 {
  width: 212px;
  height: 311px;
  margin: 16px auto 0 0;
}

.u-section-12 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -311px 16px 0 228px;
}

.u-section-12 .u-text-7 {
  font-size: 1.25rem;
  margin: 16px 16px 0 228px;
}

.u-section-12 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 6px auto 0 224px;
}

.u-section-12 .u-icon-3 {
  height: 100%;
}

.u-section-12 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-container-layout-4 {
  padding: 10px;
}

.u-section-12 .u-image-4 {
  width: 212px;
  height: 311px;
  margin: 16px auto 0 0;
}

.u-section-12 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -311px 16px 0 228px;
}

.u-section-12 .u-text-9 {
  font-size: 1.25rem;
  margin: 16px 16px 0 228px;
}

.u-section-12 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 6px auto 0 224px;
}

.u-section-12 .u-icon-4 {
  height: 100%;
}

.u-section-12 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-container-layout-5 {
  padding: 10px;
}

.u-section-12 .u-image-5 {
  width: 212px;
  height: 311px;
  margin: 16px auto 0 0;
}

.u-section-12 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -311px 16px 0 228px;
}

.u-section-12 .u-text-11 {
  font-size: 1.25rem;
  margin: 16px 16px 0 228px;
}

.u-section-12 .u-social-icons-5 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 6px auto 0 224px;
}

.u-section-12 .u-icon-5 {
  height: 100%;
}

.u-section-12 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  padding-top: 22px;
  padding-bottom: 22px;
  margin: 33px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 2060px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-12 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-12 .u-repeater-1 {
    min-height: 1304px;
  }

  .u-section-12 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-3 {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-12 .u-icon-1 {
    color: rgb(197, 54, 164) !important;
  }

  .u-section-12 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-12 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-5 {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-social-icons-2 {
    margin-left: auto;
  }

  .u-section-12 .u-icon-2 {
    color: rgb(197, 54, 164) !important;
  }

  .u-section-12 .u-image-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-12 .u-text-6 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-7 {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-social-icons-3 {
    margin-left: auto;
  }

  .u-section-12 .u-icon-3 {
    color: rgb(197, 54, 164) !important;
  }

  .u-section-12 .u-image-4 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-12 .u-text-8 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-9 {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-social-icons-4 {
    margin-left: auto;
  }

  .u-section-12 .u-icon-4 {
    color: rgb(197, 54, 164) !important;
  }

  .u-section-12 .u-image-5 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-12 .u-text-10 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-11 {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-social-icons-5 {
    margin-left: auto;
  }

  .u-section-12 .u-icon-5 {
    color: rgb(197, 54, 164) !important;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 2970px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 53px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-12 .u-list-1 {
    margin-top: 65px;
  }

  .u-section-12 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-12 .u-text-3 {
    width: 420px;
    margin-top: 2px;
  }

  .u-section-12 .u-social-icons-1 {
    margin-top: 14px;
  }

  .u-section-12 .u-text-5 {
    width: 420px;
    margin-top: 2px;
  }

  .u-section-12 .u-social-icons-2 {
    margin-top: 14px;
  }

  .u-section-12 .u-text-7 {
    width: 420px;
    margin-top: 2px;
  }

  .u-section-12 .u-social-icons-3 {
    margin-top: 14px;
  }

  .u-section-12 .u-text-9 {
    width: 420px;
    margin-top: 2px;
  }

  .u-section-12 .u-social-icons-4 {
    margin-top: 14px;
  }

  .u-section-12 .u-text-11 {
    width: 420px;
    margin-top: 2px;
  }

  .u-section-12 .u-social-icons-5 {
    margin-top: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 3008px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-list-1 {
    margin-top: 27px;
  }

  .u-section-12 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-12 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-12 .u-text-6 {
    margin-top: 16px;
  }

  .u-section-12 .u-text-8 {
    margin-top: 16px;
  }

  .u-section-12 .u-text-10 {
    margin-top: 16px;
  }

  .u-section-12 .u-btn-1 {
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 3320px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-12 .u-list-1 {
    margin-top: 83px;
  }

  .u-section-12 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-12 .u-text-3 {
    width: 320px;
  }

  .u-section-12 .u-text-4 {
    margin-top: 21px;
  }

  .u-section-12 .u-text-5 {
    width: 320px;
  }

  .u-section-12 .u-text-6 {
    margin-top: 21px;
  }

  .u-section-12 .u-text-7 {
    width: 320px;
  }

  .u-section-12 .u-text-8 {
    margin-top: 21px;
  }

  .u-section-12 .u-text-9 {
    width: 320px;
  }

  .u-section-12 .u-text-10 {
    margin-top: 21px;
  }

  .u-section-12 .u-text-11 {
    width: 320px;
  }

  .u-section-12 .u-btn-1 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
    padding-right: 17px;
    padding-left: 16px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 1278px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 67px auto 0 53px;
}

.u-section-13 .u-image-1 {
  width: 477px;
  object-position: 44.82% 50%;
  height: 1229px;
  margin: -84px 0 0 auto;
}

.u-section-13 .u-text-2 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 25px rgba(0,0,0,1);
  margin: -1125px 401px 0 53px;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  box-shadow: 5px -7px 20px 0 rgba(255,255,255,0.4);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px 216px 59px auto;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1829px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-13 .u-image-1 {
    width: 715px;
    object-position: 35.38% 24.32%;
    height: 1073px;
    margin-top: 660px;
    margin-right: auto;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin-top: -1712px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-btn-1 {
    margin-top: 660px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1866px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 0;
  }

  .u-section-13 .u-image-1 {
    width: 592px;
    height: 888px;
    margin-top: 882px;
  }

  .u-section-13 .u-text-2 {
    margin-top: -1744px;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 2109px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 10px;
    margin-left: 53px;
  }

  .u-section-13 .u-image-1 {
    height: 895px;
    margin-top: 1072px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-text-2 {
    margin-top: -1948px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-btn-1 {
    font-size: 2.25rem;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 2054px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-13 .u-image-1 {
    object-position: 53.98% 24.32%;
    height: 873px;
    margin-top: 1095px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-text-2 {
    font-size: 1rem;
    margin-top: -1938px;
  }

  .u-section-13 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 705px;
    margin-bottom: 60px;
    padding: 5px 25px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-14 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-14 .u-accordion-1 {
  margin-top: 76px;
  margin-bottom: 0;
}

.u-section-14 .u-accordion-link-1 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
}

.u-section-14 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-14 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px;
}

.u-section-14 .u-text-1 {
  margin-top: 0;
}

.u-section-14 .u-accordion-link-2 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
}

.u-section-14 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-14 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-14 .u-container-layout-3 {
  padding: 30px;
}

.u-section-14 .u-text-2 {
  margin-top: 0;
}

.u-section-14 .u-accordion-item-3 {
  margin-bottom: 0;
}

.u-section-14 .u-accordion-link-3 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
}

.u-section-14 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-14 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-14 .u-container-layout-4 {
  padding: 30px;
}

.u-section-14 .u-text-3 {
  margin-top: 0;
}

.u-section-14 .u-accordion-item-4 {
  margin: 0 auto;
}

.u-section-14 .u-accordion-link-4 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
}

.u-section-14 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-14 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-14 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-14 .u-text-4 {
  margin-top: 0;
}

.u-section-14 .u-accordion-item-5 {
  margin: 0 auto;
}

.u-section-14 .u-accordion-link-5 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
}

.u-section-14 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-14 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-14 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-14 .u-text-5 {
  margin-top: 0;
}

.u-section-14 .u-accordion-item-6 {
  margin: 0 auto;
}

.u-section-14 .u-accordion-link-6 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
}

.u-section-14 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-14 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-14 .u-container-layout-7 {
  padding: 30px 10px;
}

.u-section-14 .u-text-6 {
  margin-top: 0;
}

.u-section-14 .u-accordion-item-7 {
  margin: 0 auto;
}

.u-section-14 .u-accordion-link-7 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
}

.u-section-14 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-14 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-14 .u-container-layout-8 {
  padding: 30px 10px;
}

.u-section-14 .u-text-7 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 984px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-14 .u-accordion-link-1 {
    font-size: 2.25rem;
  }

  .u-section-14 .u-accordion-link-2 {
    font-size: 2.25rem;
  }

  .u-section-14 .u-accordion-link-3 {
    font-size: 2.25rem;
  }

  .u-section-14 .u-accordion-link-4 {
    font-size: 2.25rem;
  }

  .u-section-14 .u-accordion-link-5 {
    font-size: 2.25rem;
  }

  .u-section-14 .u-accordion-link-6 {
    font-size: 2.25rem;
  }

  .u-section-14 .u-accordion-link-7 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 366px;
}

.u-section-15 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 39px auto 0;
}

.u-section-15 .u-text-2 {
  font-size: 1.875rem;
  margin: 6px auto 0;
}

.u-section-15 .u-btn-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 64px auto 60px;
  padding: 0 65px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-2 {
    width: auto;
    margin-top: 39px;
    margin-left: 72px;
    margin-right: 72px;
  }

  .u-section-15 .u-btn-1 {
    margin-top: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-15 .u-text-2 {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-15 .u-btn-1 {
    font-size: 2.25rem;
    margin-top: 69px;
    margin-bottom: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-15 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-15 .u-btn-1 {
    margin-top: 37px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 41px;
    padding-left: 27px;
    padding-right: 27px;
  }
} .u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 387px;
}

.u-section-16 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 43px auto 0;
}

.u-section-16 .u-text-2 {
  margin: 225px auto 0;
}

.u-section-16 .u-layout-wrap-1 {
  margin-top: -212px;
  margin-bottom: 86px;
}

.u-section-16 .u-layout-cell-1 {
  min-height: 80px;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px;
}

.u-section-16 .u-image-1 {
  width: 255px;
  height: 29px;
  margin: 0 auto;
}

.u-section-16 .u-layout-cell-2 {
  min-height: 80px;
}

.u-section-16 .u-container-layout-2 {
  padding: 30px;
}

.u-section-16 .u-layout-cell-3 {
  min-height: 80px;
}

.u-section-16 .u-container-layout-3 {
  padding: 30px;
}

.u-section-16 .u-layout-cell-4 {
  min-height: 80px;
}

.u-section-16 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 66px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-16 .u-layout-cell-3 {
    min-height: 66px;
  }

  .u-section-16 .u-layout-cell-4 {
    min-height: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 51px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 51px;
  }

  .u-section-16 .u-layout-cell-3 {
    min-height: 51px;
  }

  .u-section-16 .u-layout-cell-4 {
    min-height: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-16 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-16 .u-text-2 {
    margin-top: 407px;
  }

  .u-section-16 .u-layout-wrap-1 {
    margin-top: -411px;
    margin-bottom: 60px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 77px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 77px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-layout-cell-3 {
    min-height: 77px;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-layout-cell-4 {
    min-height: 77px;
  }

  .u-section-16 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 48px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 48px;
  }

  .u-section-16 .u-layout-cell-3 {
    min-height: 48px;
  }

  .u-section-16 .u-layout-cell-4 {
    min-height: 48px;
  }
}.fundo-dra {
opacity: 0.3;
}
.conheca-o-evento {
opacity: 0.5;
}